:root {
  --green-50: hsl(141deg 75% 90%);
  --green-100: hsl(141deg 75% 85%);
  --green-200: hsl(141deg 75% 70%);
  --green-300: hsl(141deg 75% 60%);
  --green-400: hsl(141deg 75% 50%);
  --green-500: hsl(141deg 75% 45%);
  --green-600: hsl(141deg 75% 35%);
  --green-700: hsl(141deg 75% 25%);
  --green-800: hsl(141deg 75% 15%);
  --green-900: hsl(141deg 75% 10%);
  --green-950: hsl(141deg 75% 5%);
  --green-1000: hsl(141deg 75% 2.5%);
  --green-1000-25: hsl(141deg 75% 2.5% / 25%);

  --transition-duration: 200ms;
  --transition-function: ease;

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
}

#root {
  display: flex;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--green-1000);
  color: var(--green-50);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.main {
  background-color: brown;
  background-image: linear-gradient(
    to bottom,
    var(--green-900),
    var(--green-1000)
  );
  border-radius: var(--border-radius-l);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;
  margin: 0 10px 10px;
  padding: 20px;
}

@media (max-width: 480px) {
  .main {
    padding: 12px 16px;
  }
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-list__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 130%;
}

.item-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
}

@media (max-width: 480px) {
  .item-list {
    gap: 20px;
  }

  .item-list__container {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .item-list__header {
    flex-direction: column;
    gap: 10px;
  }
}

.item-list__link:hover {
  text-decoration: underline;
}

.single-item {
  align-items: center;
  border-radius: var(--border-radius-l);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px 16px;
  transition: background-color var(--transition-function) var(--transition-duration);
}

.single-item:hover {
  background-color: var(--green-900);
  text-decoration: none;
}

.single-item:hover .single-item__icon {
  opacity: 100%;
  transform: translateY(0);
}

.single-item:hover .single-item__2lines {
  -webkit-line-clamp: 10;
  line-clamp: 10;
}

.single-item__icon {
  bottom: 7.5px;
  color: var(--green-400);
  font-size: 50px;
  opacity: 0;
  position: absolute;
  right: 7.5px;
  transform: translateY(100%);
  transition-timing-function: var(--transition-function);
  transition-duration: var(--transition-duration);
  transition-property: opacity, transform;
}

.single-item__div-image {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
  width: 140px;
}

.single-item__div-image-button {
  position: relative;
}

.single-item__icon--artist {
  bottom: 25px;
  opacity: 1;
  position: fixed;
  right: 25px;
  transform: translateY(0);
}

.single-item__title {
  font-weight: 600;
}

.single-item__type {
  font-size: 13px;
}

.single-item__texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.single-item__2lines {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  box-orient: vertical;
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
}

@media (max-width: 480px) {
  .single-item__icon {
    bottom: 15px;
    right: 15px;
  }

  .single-item {
    padding: 0;
  }

  .single-item__texts {
    gap: 0;
  }
}